  /* Override some defaults */

  /*================================================
  #
  #         BOOTSTRAP defaults
  #
  #=================================================*/
  h3 {
    display:inline;
  }
  html, body {
    background-color: #eee ;
  }
  body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
  }
  a{
    color: #286F8D;
  }
  .container > footer p {
    text-align: center; /* center align it with the container */
  }
  .container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
  }

  /* The white background content wrapper */
  .content {
    float: left;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }

  .page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
  }

  /*================================================
  #
  #        overriding bootstrap button colors
  #
  #=================================================*/

  /*orange register and sign up button */
  .btn.success {
  background-color: #FF4500;
  background-image: -webkit-linear-gradient(top, #FF8000, #FF4500);

  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#FF4500));
  background-image: -moz-linear-gradient(top, #FF8000, #FF4500);
  background-image: -ms-linear-gradient(top, #FF8000, #FF4500);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF8000), color-stop(100%, #FF4500));
  background-image: -o-linear-gradient(top, #FF8000, #FF4500);
  background-image: linear-gradient(top, #FF8000, #FF4500);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8000', endColorstr='#FF4500', GradientType=0);
  }


  .btn.darkgreen {
  background-color: hsl(215, 38%, 30%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(215, 38%, 50%)", endColorstr="hsl(215, 38%, 30%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(215, 38%, 50%)), to(hsl(215, 38%, 30%)));
  background-image: -moz-linear-gradient(top, hsl(215, 38%, 50%), hsl(215, 38%, 30%));
  background-image: -ms-linear-gradient(top, hsl(215, 38%, 50%), hsl(215, 38%, 30%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(215, 38%, 50%)), color-stop(100%, hsl(215, 38%, 30%)));
  background-image: -webkit-linear-gradient(top, hsl(215, 38%, 50%), hsl(215, 38%, 30%));
  background-image: -o-linear-gradient(top, hsl(215, 38%, 50%), hsl(215, 38%, 30%));
  background-image: linear-gradient(hsl(215, 38%, 50%), hsl(215, 38%, 30%));
  border-color: hsl(215, 38%, 30%) hsl(215, 38%, 30%) hsl(215, 38%, 25%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}


/*  TODO
  .btn.anothercolor {
  background-color: #FF4500;
  background-image: -webkit-linear-gradient(top, #FF8000, #FF4500);

  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#FF4500));
  background-image: -moz-linear-gradient(top, #FF8000, #FF4500);
  background-image: -ms-linear-gradient(top, #FF8000, #FF4500);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF8000), color-stop(100%, #FF4500));
  background-image: -o-linear-gradient(top, #FF8000, #FF4500);
  background-image: linear-gradient(top, #FF8000, #FF4500);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8000', endColorstr='#FF4500', GradientType=0);
  }*/

  /* red waiver reminder banner */
  .alert-message.info{
  background-color: #0064CD;
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);

  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  }
  /* blue "don't break our beta banner" */
  .alert-message.success{
  background-color: #04819e;
  background-image: -webkit-linear-gradient(top, #04819e, #04819e); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#04819e));
  background-image: -moz-linear-gradient(top, #04819e, #04819e);
  background-image: -ms-linear-gradient(top, #04819e, #04819e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #04819e), color-stop(100%, #04819e));
  background-image: -o-linear-gradient(top, #04819e, #04819e);
  background-image: linear-gradient(top, #04819e, #04819e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04819e', endColorstr='#04819e', GradientType=0);
  }


  /*================================================
  #
  #   these styles apply to elements of the main
  #   page template, sidebar and topbar
  #
  #=================================================*/


  .main {
    float: left;
    width: 600px;
    margin-left: 15px;
  }

  .sidebar {
    min-height: 500px;
    float: right;
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee;
  }
  #signout{
    margin-top: 5px;
  }

   #feed_friends{
    width: 100%;
    padding-left: 55px;
    margin-left: 30px;

    font-weight: bold;
    font-size: 15px;
  }

  /* buttons that are just hrefs not forms */
  .linkbutton {
    padding: 8px;
  }

  /*orange line sperating the topbar from the page container */
  #topline {
    background-color: #FF8000 ;
    width: 100%;
    height: 4px;
  }
  /*orange line underscoring sidebar items */
  .tinyline {
    background-color: #FF8000 ;
    width: 100%;
    height: 1px;
  }

  .infoitem{
    padding: 10px;
  }
  .infoitem a{
    color: #000;
  }

  /* brains@zombiesource.com email address at the bottom of the main container */
  #contact{
    margin-left: 50%;
  }

  /*================================================
  #
  #    Home Page
  #
  #=================================================*/

  #registration_prompt{
     float: left;
     padding: 15px;
     margin-right: 15px;
     margin-left: 20px;
     background-color: #B5D4E0;
     border-color: #39869B;
     border-width: 1px;
     border-style:solid;
  }

  .info_box{
    float: left;
    width: 250px;
  }

  #homepage_data{
    float: left;
  }
  .homepage_graph{
    float: left; 
  }
  #graph1 {
    width: 100px;
    float: left;
    height: 200px;
  }
  #graph2{
    width: 100px;
    margin-top:50px;
    margin-left:20px;

  }
  #countdown_box {
    width: auto;
    float: left;
  }
  #largenumber{
    size: 40px;
  }

  #label{
    width: 250px;
    padding-left: 20px;
  }

  .basic_link{
    margin-top: 10px;
    margin-left: 5px;
    float: right;
    height: 10px;
    font-size: 9px;
  }


  /*================================================
  #
  #    game page template
  #
  #=================================================*/


  .leftnav {
    float: left;
    position: relative;
    width: 100px;
    height: auto;
    margin-left: -122px;
    margin-top: 100px;


    background-color: #222;
background-color: #222;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
background-image: -moz-linear-gradient(top, #333333, #222222);
background-image: -ms-linear-gradient(top, #333333, #222222);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
background-image: -webkit-linear-gradient(top, #333333, #222222);
background-image: -o-linear-gradient(top, #333333, #222222);
background-image: linear-gradient(top, #333333, #222222);

/*
   border-left-style: solid;
   border-top-style: solid;
   border-bottom-style: solid;
*/
/*   border-color: #FF4500;
*/
 }

 .navitem{

   width: 70px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 15px;
   padding-right: 5px;
   margin: 5px;


 }

 .navitem a{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  color: #FFF;
 }

 #selected{

  background-color: #606060;

 }


  /*================================================
  #
  #    list players page
  #
  #=================================================*/


  #sortable_tables{
    float: left;
    margin: auto;
  }

  .hvz_table{
    float: left;
    margin-left: 50px;
  }

  /*================================================
  #
  #    Teams
  #
  #=================================================*/

/*#sortable_tables{
  width: 50%;
}*/

#gravatar{
  width: 300px;
  margin: 0px;
}

#manage_teams{
  width: 350px;
  height: 200px;
  float: right;

  background-color: #B5D4E0;
  border-color: #39869B;
  border-width: 1px;
  border-style:solid;
  font-size: 20px;
  font-color: #39869B;
  padding: 20px;

}
.team_box{
  text-align: center;
  font-size: 20px;
  font-color: #39869B;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.medium_width_column{
  max-width: 100px;
}

.tiny_column{
  width: 25px;
}

#create_new_team{
  !important
  width: 100%;
  margin-left: auto; !important
  margin-right: auto; !important
  float: none;
}

#textarea{
  float: right;
}

/*styles for list of team members */

#teamlist{
  width: 300px;
  height: auto;
  float: right;
  margin-top: -200px;
}

.team_member{
  clear: left;
}

.team_member_attribute{
  float: left;
}

#team_member_name{
  font-size: 20px;
  margin: 10px;
}




  /*================================================
  #
  #    registration page and registration page two
  #
  #=================================================*/
  #fields{
    float: left;
  } 

  #row{
    width: auto;
  }

  .clearfix{
    margin: 15px;
  }

  label{
    margin
    -right: 10px;
  }

  /*================================================
  #
  #    profile page
  #
  #=================================================*/

  .line {
  font-weight: bold;
  line-height: 36px;
  font-size: 24px;
  }
  .line a:link{
    color: #286F8D;
  }

  .profile_data_item{
  font-weight: normal;
  line-height: 36px;
  font-size: 22px;
  }

  #edit_profile{
    clear: both;
    margin: 5px;
  }

  #human_code{
    margin-top: 25px;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  #human_code a:link{
    color: #286F8D;
  }


  #code_text{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 20px;
    text-align: center;
    font-size: 20px;
  }

  #color_box{
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 50px;
    padding-top: 22px;

    background-color: #B5D4E0;
    border-color: #39869B;
    border-width: 1px;
    border-style:solid;
    text-align: center;
    font-size: 36px;

  }

  #setup_gravatar{
    margin-left: 150px;
    color: #286F8D;
  }

/*  #buttons{
    width: 100px;
    height: 20px;
    background-color: #000;
  }
*/
  .profile_button{
    float: right;
    position: relative;
  }
  .box{
    margin: 4px;
    width: auto;
    height: auto;
    float: right;
  }

    /*================================================
  #
  #    public profile
  #
  #=================================================*/

#player_status{
  float: right;
  font-size: 30px;
}

  /*================================================
  #
  #    admin
  #
  #=================================================*/

  .control_item{
    margin: 15px;
  }
 #left_control_items{
    float: left;
    margin-right: 100px;
  }

  #right_control_items{
/*    float: left;
*/  }

  #left_manage{
    width: 110px;
    font-size: 10px;

  }
  .right_manage{
    width: 150px;
    font-size: 10px;
  }

    /*================================================
  #
  #   Game overview
  #
  #=================================================*/

  .game_summary{
    width: 300px;
    height: 100px;
    border-style: solid;
    border-color: #000;
    margin: 20px;
  }
 

  /*================================================
  #
  #    Other
  #
  #=================================================*/
 
 .clearfix label{
  margin-right: 10px;
 }



